.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.grid {
	flex-wrap: wrap;
	display: flex;
	width: 660px;
}

.card {
	list-style: none;
	text-decoration: none;
	width: 150px;
	height: 150px;
	margin: 5px;
	transform-style: preserve-3d;
  	transition: all .8s;
  	color: #fff;
  	transform: rotateY(180deg);
  	border-radius: 10px;
  	background-color: #2e3d49;
  	font-size: 0;
}

.open {
	transform: rotateY(0);
}

.match {
    cursor: default;
    background-color: #02ccba;
    font-size: 33px;
}

