.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.grid {
	flex-wrap: wrap;
	display: flex;
	width: 660px;
}

.card {
	list-style: none;
	text-decoration: none;
	width: 150px;
	height: 150px;
	background-color: #000;
	margin: 5px;
	transform-style: preserve-3d;
  	transition: all .8s;
  	color: #fff;
  	transform: rotateY(180deg);
}

.open {
	transform: rotateY(0);
}

.closed {
	opacity: 0;
	display: 0;
	visibility: hidden;
	transition: all 2s;
}

.show {
	opacity: 1;
	display: 1;
	transition: opacity .5s;
}

