.container {
	width: 700px;
	perspective: 1000;
}

.grid {
	flex-wrap: wrap;
	display: flex;
}

.card {
	list-style: none;
	text-decoration: none;
	width: 150px;
	height: 150px;
	background-color: #000;
	margin: 5px;
	transform-style: preserve-3d;
  	transition: all 1.0s;
  	color: #fff;
}

.rotate:hover {
	transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

